* {
  box-sizing: border-box;
}
.head{
     background-color: #0d0d50;
     text-align: center;
}
.input{
  font-size: 24px;
  border-radius: 10px;
  background-color: aliceblue;
}
.my{
  font-size: 23px;
  border: 1px solid rgb(47, 6, 85);
  border-radius: 14px;
}
.my:hover{
  background: rgb(76, 182, 76);
}
.delete{
  border-radius: 15px;
  border: solid black;
}
.delete:hover{
  background-color: red;
}